/*Обнуление стилей*/
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  /*--------------------*/

  /*Шрифты*/

  @font-face {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/JosefinSans-Medium.ttf');
}

@font-face {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/JosefinSans-Bold.ttf');
}

  /*--------------------*/

body{
    font-family: "Josefin Sans", sans-serif;
    color: #446381;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    height: 78px;
    align-items: flex-end;
    text-align: center;
    max-width: 1440px;
}

.header__logo{
    margin-right: 200px;
    max-height: 54px;
}

.head__nav{
  display: flex;
  align-items: baseline;
}

.nav__list{
    display: flex;
}

.list__link{
    padding-left: 44px;
    color: #446381;
}

.head__btn{
    margin-left: 55px;
    width: 180px;
    height: 50px;
    font-size: 1em;
    border-radius: 25px;
    background: linear-gradient(94.66deg, #4499D9 17.46%, #7367BE 87.77%);
    color: #FFFFFF;
}

.main{
  background-image: url(../img/bg.png);
  background-size: auto 1600px;
  padding: 0 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__hero{
  max-width: 1440px;
  display: flex;
  align-items: center;
  margin: 54px 0;
}

.content{
  max-width: 500px;
}

.btn__hero{
  margin-top: 36px;
  margin-left: 0;
}

.content__subtitle{
  font-size: 1.278em;
  line-height: inherit;
}

.content__title{
  padding-top: 26px;
  padding-bottom: 26px;
  color: #EB8382;
  font-weight: bold;
  font-size: 3.111em;
  line-height: 75px;
}

.title__color{
  color: #446381;
}

.content__text{
  line-height: 29px;
  text-align: justify;
}